
<html>
   <body>
       <p align='center'>Uploaded Successfully. Please download the report.</p>
        <p align="center"><a href=download ><button class=grey style="height:75px;width:150px">Download</button></a></p>
       <p align='center'>Show the visualization</p>
       <p align="center"><a href=plot ><button class=grey style="height:75px;width:150px">Visualize</button></a></p>
       <p align='center'>Search by Skills</p>
       <p align="center"><a href=search ><button class=grey style="height:75px;width:150px">Search</button></a></p>
   </body>
</html>