<html>
   <body align='center'>
       <form method='POST'>
       <p align='center'>Search resumes based on skills</p>
       <p align='center'><input type="text" name="Skill"></p>
       <select name = "dropdown">
            <option value = select selected>--Select--</option>
            <option value = "AWS" >AWS</option>
            <option value = "GCP">GCP</option>
            <option value = "NLP">NLP</option>
         </select>
       <p align="center"><a href=seach_result ><button class=grey style="height:75px;width:150px">Submit</button></a></p>
       </form>
    </body>
</html>
       